@import "./colours";
.main_container {
  background-color: $color-white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login_link {
  text-decoration: none;
  color: $color-dark;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
