@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,700&display=swap");
@import "./colours";
body {
  font-family: "Josefin Sans";
}
.form_container {
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form_logo {
  margin-bottom: 20px;
}

.form_input_field {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  & label {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & input {
    border-radius: 5px;
    border: 2px solid $color-black;
    padding: 5px;
    font-family: "Josefin Sans";
    font-size: 1.1rem;
  }
  & input:focus {
    outline: none;
  }
}

.form_button {
  min-height: 50px;
  min-width: 300px;
  border: 2px solid $color-black;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  padding: 5px 15px 5px 15px;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  transition-duration: 0.5s;
  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $color-dark;
    border: 2px solid $color-dark;
    color: $color-white;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: $color-gray;
    border: 2px solid $color-dark;
    color: $color-dark;
    cursor: not-allowed;
  }
}

.error_message {
  font-size: smaller;
  color: $color-red;
  margin-bottom: 20px;
  text-align: center;
}

.email_sent_message {
  font-size: 2rem;
}
.email_sub_sent_message {
  font-size: 1rem;
  margin-top: 10px;
  color: $color-red;
}
