@import "./mixins";
@import "./colours";

.main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include respond-to("small") {
    flex-direction: row;
  }
}

.title_container {
  color: $color-black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.avatar_main_container {
  width: 300px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
.avatar_image {
  border: 2px solid $color-black;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px gray;
  margin: 30px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
.avatar_name {
  color: $color-black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.avatar_bio {
  text-align: center;
  color: $color-black;
}
